# Default ClickHouse cluster (for mainnet, sepolia, holesky, hoodi)
XATU_CLICKHOUSE_USERNAME=
XATU_CLICKHOUSE_PASSWORD=
XATU_CLICKHOUSE_HOST=clickhouse.xatu.ethPandaOps.io

# Experimental ClickHouse cluster (for all other networks)
XATU_CLICKHOUSE_EXPERIMENTAL_USERNAME=
XATU_CLICKHOUSE_EXPERIMENTAL_PASSWORD=
XATU_CLICKHOUSE_EXPERIMENTAL_HOST=

# API Keys
BEACONCHAIN_BASE_URL=https://beaconcha.in
BEACONCHAIN_API_KEY=
RATED_API_KEY=
